<div class="container">
  <!--類別下拉選單-->
  <div class="dropdown text-center mt-5">
    <button class="btn btn-secondary dropdown-toggle w-50 text-start" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/">所有類別</a></li>
      {{#each categories}}
      <li><a class="dropdown-item" href="{{this._id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <!--金額合計-->
  <div class="d-flex justify-content-between w-50 mx-auto mt-5">
    <h2>總金額：</h2>
    <h2 id="totalAmount" name="totalAmount">{{totalAmount}}</h2>
  </div>

  <!--一覽表-->
  <table class="table table-striped mx-auto w-50 mt-5">
    <tbody>
      {{#each records}}
      <tr class="row">
        <td class="col d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-utensils fa-2xl"></i>
        </td>
        <td class="col-4 d-flex flex-column justify-content-between">
          <h2>{{this.name}}</h2>
          <p class="mb-0">{{this.date}}</p>
        </td>
        <td class="col-4 d-flex align-items-center justify-content-end">
          <h2>{{this.amount}}</h2>
        </td>
        <td class="col d-flex align-items-center justify-content-center">
          <a type="button" class="btn" href="/records/{{this._id}}/edit">
            <i class="fa-solid fa-pen fa-xl"></i>
          </a>
        </td>
        <td class="col d-flex align-items-center justify-content-center">
          <form action="/records/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn" type="submit">
              <i class="fa-solid fa-trash fa-xl"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <!--新增按鈕-->
  <div class="text-center mt-5">
    <a href="/new" class="btn btn-success">新增支出</a>
  </div>
</div>

<!--
<div class="col-md-auto">
        <a class="btn btn-secondary" href="/todos/{{ this._id }}">Detail</a>
        <a class="btn btn-success" href="/todos/{{ this._id }}/edit">Edit</a>
        <form action="/todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
-->